footer {
  position: relative;
}
footer .logo-holder {
  text-align: center;
}
footer .offices {
  position: absolute;
  right: 0;
  top: 0;
}
footer .offices > div {
  display: inline-block;
}
header {
  background: #1a4770;
  color: #fff;
  padding: 15px 0;
  position: relative;
  z-index: 500;
}
header .header-wrapper {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
header .header-wrapper:after,
header .header-wrapper:before {
  content: "";
  display: table;
  clear: both;
}
header .header-wrapper .logo {
  float: left;
}
header .header-wrapper .logo img {
  width: 133px;
  height: auto;
}
header .header-wrapper .nav {
  text-align: right;
  position: relative;
}
header .header-wrapper .nav .opener img {
  width: 33px;
  height: auto;
}
header .header-wrapper .nav ul {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 37px;
  opacity: 0;
  pointer-events: none;
}
header .header-wrapper .nav ul.active {
  pointer-events: auto;
  opacity: 1;
}
header .header-wrapper .nav ul li {
  text-transform: uppercase;
}
header .header-wrapper .nav ul li a {
  width: 280px;
  padding: 20px 15px;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 15px;
  display: block;
}
header .header-wrapper .nav ul li:nth-child(even) {
  background: #1a4770;
}
header .header-wrapper .nav ul li:nth-child(odd) {
  background: #1a416c;
}
.intro-top h2,
.intro-bottom h2 {
  font-size: 24px;
  color: #00aeef;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-top h2,
  .intro-bottom h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
.intro-top p,
.intro-bottom p {
  color: #646464;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-top p,
  .intro-bottom p {
    font-size: 16px;
    line-height: 24px;
  }
}
.intro-top {
  margin-top: 130px;
  margin-bottom: 100px;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-top {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}
.intro-top .inner {
  margin: 0 -20px;
  position: relative;
}
.intro-top .inner:after,
.intro-top .inner:before {
  content: "";
  display: table;
  clear: both;
}
.intro-top .inner > div {
  float: left;
  width: 50%;
  padding: 0 20px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-top .inner > div {
    width: 100%;
  }
  .intro-top .inner > div.image {
    display: none;
  }
}
.intro-top .inner > div img {
  width: 100%;
  height: auto;
}
.intro-top .buttons-wrapper {
  position: absolute;
  left: calc(50% + 20px);
  bottom: 0;
  right: 0;
}
.intro-top .buttons-wrapper > p {
  padding-bottom: 15px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-top .buttons-wrapper {
    position: relative;
    left: auto;
    bottom: auto;
    right: auto;
    padding-top: 20px;
  }
}
.intro-top .buttons {
  margin: 0 -12px;
}
.intro-top .buttons:after,
.intro-top .buttons:before {
  content: "";
  display: table;
  clear: both;
}
.intro-top .buttons > div {
  float: left;
  width: 50%;
  padding: 0 12px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .intro-top .buttons > div {
    width: 100%;
    padding-bottom: 10px;
  }
}
.intro-top .buttons > div .company,
.intro-top .buttons > div .apartment {
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: 32px 33px;
  background-position: left 10px center;
  display: block;
  color: #fff;
  padding: 15px 0 15px 60px;
}
.intro-top .buttons > div .company {
  background-image: url('../img/ikon-foretagare.png');
  background-color: #3EB0EE;
}
.intro-top .buttons > div .apartment {
  background-image: url('../img/ikon-lagenheter.png');
  background-color: #FE0000;
}
.intro-bottom {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.intro-bottom h2,
.intro-bottom p {
  text-align: center;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-bottom h2,
  .intro-bottom p {
    text-align: left;
  }
}
.intro-bottom p {
  padding: 20px 0 40px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .intro-bottom p {
    padding-top: 0px;
  }
}
.intro-bottom .buttons {
  margin: 0 -5px;
}
.intro-bottom .buttons:after,
.intro-bottom .buttons:before {
  content: "";
  display: table;
  clear: both;
}
.intro-bottom .buttons > div {
  float: left;
  padding: 5px;
  width: 33.33334%;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .intro-bottom .buttons > div {
    width: 100%;
  }
}
.intro-bottom .buttons > div a {
  text-align: center;
  padding: 30px;
  display: block;
  color: #fff;
  background-color: #1a4770;
  background-image: url('../img/ikon-pil-vit.png');
  background-repeat: no-repeat;
  background-size: 14px 6px;
  background-position: center bottom 20px;
  text-transform: uppercase;
  font-size: 17px;
}
.intro-bottom .buttons > div a:hover {
  background-color: #00aeef;
}
.intro-bottom .buttons > div a span {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Black';
}
.section {
  padding-bottom: 45px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section {
    padding-bottom: 65px;
  }
}
.section > h2 {
  text-align: center;
  background: #1a4770;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 36px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section > h2 {
    font-size: 28px;
  }
}
.section .content {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.section .content > p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 40px 0 45px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section .content > p {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 25px;
  }
}
.section ol.numbered li {
  margin-bottom: 85px;
}
.section ol.numbered li:before {
  top: 40px;
}
.section ol.numbered li .innerli {
  background: #f1f1f1;
  color: #646464;
  height: 700px;
  padding: 100px 25px 30px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section ol.numbered li .innerli {
    padding-top: 90px;
    padding-bottom: 130px;
    height: 500px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .section ol.numbered li .innerli {
    height: auto;
  }
}
.section ol.numbered li .innerli h3 {
  text-transform: uppercase;
  color: #1a4770;
  text-align: center;
  border-bottom: 3px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section ol.numbered li .innerli h3 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
.section ol.numbered li .innerli p {
  font-size: 18px;
  line-height: 30px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .section ol.numbered li .innerli p {
    font-size: 16px;
    line-height: 24px;
  }
}
/*
font-family:'Neo Sans W01';
font-family:'Neo Sans W01 Medium';
font-family:'Neo Sans W01 Light';
font-family:'Neo Sans W01 Black';
font-family:'Neo Sans W01 Bold';

*/
/*
 * Generic styles
 */
* {
  font-family: 'Neo Sans W01', 'Arial';
  color: inherit;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
.header-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 415px;
  position: relative;
}
.header-image > div {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.header-image > div h1 {
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Medium';
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .header-image > div h1 {
    font-size: 24px;
  }
}
.header-image > div p {
  font-size: 29px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Light';
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .header-image > div p {
    font-size: 18px;
    padding: 0 25px;
  }
}
.header-image > div img {
  width: 160px;
  height: auto;
  margin-bottom: 30px;
}
.toconnect {
  padding: 90px 0;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .toconnect {
    padding: 0;
  }
}
.toconnect .inner {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  background-color: #f1f1f1;
  background-image: url('../img/ikon-cirkel-hus.png');
  background-repeat: no-repeat;
  background-size: 86px 86px;
  background-position: center 40px;
  display: block;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 70px;
  position: relative;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .toconnect .inner {
    max-width: 100%;
  }
}
.toconnect .inner:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: #fff;
  content: "";
  background-image: url('../img/ikon-pil-bla.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 9px;
}
.toconnect p {
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .toconnect p {
    font-size: 16px;
    line-height: 24px;
  }
}
.anslutamotorn {
  padding: 75px 0 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.anslutamotorn .inner {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 174, 239, 0.9);
  min-height: 600px;
  padding: 35px;
}
.anslutamotorn .inner h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
.anslutamotorn .inner p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  max-width: 860px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.anslutamotorn .inner .input-wrapper {
  padding-top: 60px;
  display: table;
  width: 100%;
}
.anslutamotorn .inner .input-wrapper > div {
  display: table-cell;
  vertical-align: top;
  padding: 0 15px;
}
.anslutamotorn .inner .input-wrapper > div.button {
  width: 300px;
}
.anslutamotorn .inner input[type="text"],
.anslutamotorn .inner button {
  background: #fff;
  border: none;
  color: #1a4770;
  font-size: 22px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.anslutamotorn .inner input[type="text"] {
  padding-left: 20px;
}
.dig,
.after-top {
  background-repeat: no-repeat;
  background-size: 85px 85px;
  background-position: left 40px top 5px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .dig,
  .after-top {
    background-position: center top;
  }
  .dig > h2,
  .after-top > h2 {
    padding-top: 100px;
  }
}
.dig > h2,
.after-top > h2,
.dig > p,
.after-top > p,
.dig .interest,
.after-top .interest {
  padding-left: 160px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .dig > h2,
  .after-top > h2,
  .dig > p,
  .after-top > p,
  .dig .interest,
  .after-top .interest {
    padding-left: 0;
  }
}
.dig {
  background-image: url('../img/ikon-cirkel-spade.png');
}
.after-top {
  background-image: url('../img/ikon-cirkel-hus.png');
}
.after h2,
.dig h2 {
  text-transform: uppercase;
}
.after p,
.dig p,
.after h2,
.dig h2 {
  color: #646464;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .after p,
  .dig p,
  .after h2,
  .dig h2 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.after {
  position: relative;
  background: #f1f1f1;
  padding-top: 100px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .after {
    padding-top: 50px;
  }
}
.after .interest {
  display: table;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.after .interest > div {
  display: table-cell;
  vertical-align: top;
}
.after .interest > div.button {
  width: 300px;
  text-align: right;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .after .interest {
    display: block;
  }
  .after .interest > div {
    display: block;
  }
  .after .interest > div.button {
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
}
.after .after-top,
.after .after-bottom {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.after .button a {
  background: #1a4770;
  padding: 8px 60px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: inline-block;
}
.after .after-bottom {
  padding-top: 55px;
}
.after .after-bottom .ab-wrapper {
  margin: 0 -7px;
}
.after .after-bottom .ab-wrapper:after,
.after .after-bottom .ab-wrapper:before {
  content: "";
  display: table;
  clear: both;
}
.after .after-bottom .ab-wrapper > div {
  float: left;
  padding: 0 7px;
  width: 33.3334%;
  text-align: center;
  position: relative;
  height: 500px;
}
@media only screen and (min-width: 1px) and (max-width: 959px) {
  .after .after-bottom .ab-wrapper > div {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .after .after-bottom .ab-wrapper > div {
    width: 100%;
    padding-bottom: 140px;
    height: auto;
  }
}
.after .after-bottom .ab-wrapper > div h2 {
  background: #1a4770;
  color: #fff;
  font-size: 18px;
  padding: 25px 0;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .after .after-bottom .ab-wrapper > div h2 {
    margin-bottom: 25px;
  }
}
.after ol.numbered li .innerafter {
  padding-top: 120px;
  text-align: center;
  height: 460px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .after ol.numbered li .innerafter {
    height: auto;
  }
}
.after ol.numbered li .image {
  height: 150px;
  background: #fff;
}
.after ol.numbered li:before {
  top: 200px;
}
.order {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #00aeef;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
}
.order h2 {
  font-size: 24px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .order h2 {
    font-size: 18px;
  }
}
.order p {
  font-size: 17px;
  line-height: 28px;
  padding: 15px 0;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  .order p {
    font-size: 16px;
    line-height: 24px;
  }
}
.order h2,
.order strong {
  text-transform: uppercase;
}
.order strong {
  font-weight: 400;
}
ol.numbered {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -10px;
  display: block;
}
ol.numbered:after,
ol.numbered:before {
  content: "";
  display: table;
  clear: both;
}
ol.numbered li {
  float: left;
  width: 33.3334%;
  padding: 10px 10px 0 10px;
  position: relative;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  ol.numbered li {
    width: 50%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  ol.numbered li {
    width: 100%;
  }
}
ol.numbered li a {
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00aeef;
}
ol.numbered li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Medium';
  color: #ffffff;
  background: #00aeef;
  border-radius: 150px;
  text-align: center;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  line-height: 50px;
}
@media only screen and (min-width: 1px) and (max-width: 1199px) {
  ol.numbered li:before {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 39px;
  }
}
.ambassador {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.dig {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.dig .movie {
  margin: 50px 0;
}
.dig-guide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.dig-guide > a {
  position: relative;
  background-image: url('../img/ikon-spade.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 22px 61px;
  padding-top: 65px;
  padding-bottom: 40px;
  color: #00aeef;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
}
.dig-guide > a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: #fff;
  content: "";
  background-image: url('../img/ikon-pil-bla.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 9px;
}
a.bottom-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #00aeef;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
.pagination {
  text-align: center;
  list-style: none;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  color: #fff;
  width: 30px;
  display: block;
  margin: 0 10px;
}
.pagination li a.active {
  text-decoration: underline;
  font-weight: bold;
}
.results ul.results {
  list-style: none;
}
.results ul.results li {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.results ul.results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.results ul.results li .result-wrapper {
  display: table;
  width: 100%;
}
.results ul.results li .result-wrapper > div {
  display: table-cell;
  vertical-align: middle;
}
/*# sourceMappingURL=combined.css.map */