/*
font-family:'Neo Sans W01';
font-family:'Neo Sans W01 Medium';
font-family:'Neo Sans W01 Light';
font-family:'Neo Sans W01 Black';
font-family:'Neo Sans W01 Bold';

*/
/*
 * Generic styles
 */
* {
  font-family: 'Neo Sans W01', 'Arial';
  color: inherit;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
.header-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 415px;
  position: relative;
}
.header-image > div {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.header-image > div h1 {
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Medium';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-image > div p {
  font-size: 29px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Light';
}
.header-image > div img {
  width: 160px;
  height: auto;
}
.toconnect {
  padding: 90px 0;
}
.toconnect .inner {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  background-color: #f1f1f1;
  background-image: url('../img/ikon-cirkel-hus.png');
  background-repeat: no-repeat;
  background-size: 86px 86px;
  background-position: center 40px;
  display: block;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 70px;
  position: relative;
}
.toconnect .inner:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: #fff;
  content: "";
  background-image: url('../img/ikon-pil-bla.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 9px;
}
.toconnect p {
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
.anslutamotorn {
  padding: 75px 0 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.anslutamotorn .inner {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  background: rgba(255, 255, 255, 0.9);
  min-height: 600px;
  padding: 35px;
}
.anslutamotorn .inner h2 {
  text-align: center;
  text-transform: uppercase;
  color: #1a4770;
  font-size: 26px;
}
.after h2,
.dig h2 {
  text-transform: uppercase;
}
.after p,
.dig p,
.after h2,
.dig h2 {
  color: #646464;
  font-size: 20px;
  line-height: 30px;
}
.after {
  position: relative;
  background: #f1f1f1;
}
.after .after-top,
.after .after-bottom {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.after .button a {
  background: #1a4770;
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: inline-block;
}
.after ol.numbered li .innerafter {
  padding-top: 50px;
  text-align: center;
}
.after ol.numbered li .image {
  height: 150px;
  background: #fff;
}
.after ol.numbered li:before {
  top: 200px;
}
.order {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #00aeef;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
}
.order h2 {
  font-size: 24px;
}
.order p {
  font-size: 17px;
  line-height: 28px;
  padding: 15px 0;
}
.order h2,
.order strong {
  text-transform: uppercase;
}
.order strong {
  font-weight: 400;
}
ol.numbered {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -10px;
  display: block;
}
ol.numbered:after,
ol.numbered:before {
  content: "";
  display: table;
  clear: both;
}
ol.numbered li {
  float: left;
  width: 33.3334%;
  padding: 10px;
  position: relative;
}
ol.numbered li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Neo Sans W01 Medium';
  color: #ffffff;
  background: #00aeef;
  border-radius: 150px;
  text-align: center;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  line-height: 50px;
}
.ambassador {
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00aeef;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.dig {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.dig-guide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.dig-guide > a {
  position: relative;
  background-image: url('../img/ikon-spade.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 22px 61px;
  padding-top: 65px;
  padding-bottom: 40px;
  color: #00aeef;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
}
.dig-guide > a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: #fff;
  content: "";
  background-image: url('../img/ikon-pil-bla.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 9px;
}
/*# sourceMappingURL=style.css.map */