@import (reference) 'mixin.less';
@import (reference) 'vars.less';

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10000;
  //padding: 12px @pagePadding;
  //height: @headerHeight;
  overflow: hidden;

}