@import (reference) 'mixin.less';
@import (reference) 'vars.less';



.section {
  padding-bottom: 130px;
  >h2 {
    text-align: center;
    background: @blue-dark;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 36px;
    letter-spacing: 2px;
  }
  .content {
    .MaxWidth();

    >p {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      padding: 40px 0 45px;
    }
  }
  ol.numbered {
    li {
      &:before {
        top: 40px;
      }
      .innerli {
        background: @gray-light;
        color: @gray;
        height: 700px;
        padding-top: 100px;
        padding: 100px 15px 30px 15px;
        h3 {
          text-transform: uppercase;
          color: @blue-dark;
          text-align: center;
          border-bottom: 3px solid #fff;
          padding-bottom: 20px;
          margin-bottom: 20px;
          font-size: 24px;
          letter-spacing: 2px;
        }
        p {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}