@import (reference) 'mixin.less';
@import (reference) 'vars.less';



.section {
  padding-bottom: 130px;
  @media @size-960 {
    padding-bottom: 65px;
  }
  >h2 {
    text-align: center;
    background: @blue-dark;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 36px;
    letter-spacing: 2px;
    @media @size-960 {
      font-size: 28px;
    }
  }
  .content {
    .MaxWidth();

    >p {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      padding: 40px 0 45px;
      @media @size-960 {
        .FontBreadSmall();
        padding: 20px 0 25px;
      }
    }
  }
  ol.numbered {
    li {
      &:before {
        top: 40px;
        @media @size-960 {
          //top: 30px;
        }
      }
      .innerli {
        background: @gray-light;
        color: @gray;
        height: 700px;
        padding: 100px 25px 30px;
        @media @size-960 {
          padding-top: 90px;
          padding-bottom: 130px;
          height: 500px;
        }
        @media @size-320 {
          height: auto;
        }
        h3 {
          text-transform: uppercase;
          color: @blue-dark;
          text-align: center;
          border-bottom: 3px solid #fff;
          padding-bottom: 20px;
          margin-bottom: 20px;
          font-size: 24px;
          letter-spacing: 2px;
          @media @size-960 {
            font-size: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 18px;
          line-height: 30px;
          @media @size-960 {
            .FontBreadSmall();
          }
        }
      }
    }
  }
}

