<div id="anslutamotorn" class="anslutamotorn" style="background-image: url('{{ bgimage }}');">
	<div class="inner">
		<h2>Sök på din fiberstatus</h2>
		<p>Som privatperson kan du söka på din adress för att se om du är ansluten eller tillhör ett område som är påväg att anslutas.</p>
		<form method="post" action="{{ url }}" id="anslutamotornform">
			<input type="hidden" name="nonce" value="{{ nonce }}">
			<input type="hidden" name="action" value="servanetlookup" />

			<div class="input-wrapper">
				<div class="address">
					<input type="text" name="string" placeholder="" />
				</div>
				<div class="button">
					<button type="submit">Sök adress</button>
				</div>
			</div>
		</form>

		<div class="results">
			<ul id="results" class="results">

			</ul>
			<ul id="pagination" class="pagination"></ul>
		</div>

	</div>
</div>

<div class="toconnect">
	<a class="inner scrollTo" href="#after">
		<p>Finns redan ServaNet indraget i ditt område men du är inte ansluten?</p>
		<p>Läs mer om hur du ansluter dig här.</p>
	</a>
</div>