<div class="dig" id="dig">
	<h2>Grävningsguide</h2>
	<p>Vi gräver och lägger ner fiber till anslutningspunkter i området. Du gräver den sista biten själv, från villan till närmaste anslutningspunkt. Se filmen där vi förklarar vad du bör tänka på när du gräver.</p>

	<div class="movie">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/yDjkl_1YFok" frameborder="0" allowfullscreen></iframe>
	</div>
</div>