<div class="header-image" style="background-image: url('{{ image }}');">
	<div>
		<img src="{{ logo }}" alt="ServaNet logo" />
		<h1>Anslutningsguiden</h1>
		<p>Din hjälp till en trygg fiberanslutning</p>
	</div>
</div>