<header>
	<div class="header-wrapper">
		<div class="logo">
			<a href="http://www.servanet.se" target="_blank"><img src="{{ logo }}" alt="ServaNet logo"/></a>
		</div>
		<div class="nav">
			<a class="opener" href="#"><img src="{{ menu }}" alt="Öppna meny" /></a>
			<nav>
				<ul>
					<li><a href="#anslutamotorn" class="scrollTo">Anslutamotorn</a></li>
					<li><a href="#intresse" class="scrollTo">Steg för steg</a></li>
					<li><a href="#after" class="scrollTo">Efteranslutning</a></li>
					<li><a href="#dig" class="scrollTo">Grävguide</a></li>
					<li><a href="http://www.servanet.se" target="_blank">servanet.se</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>