<div class="intro-top">
	<div class="image">
		<img src="{{ image }}" alt="Familjebild" />
	</div>
	<div class="text">
		<h2>Är den här guiden något för dig?</h2>
		<p>Anslutningsguiden är till för dig som är intresserad av att fiberansluta din villa eller redan är på väg att få en anslutning. Här kan du läsa om förloppet – från intresseanmälan till färdig anslutning.</p>
		<div class="buttons">
			<div>
				<a class="company" href="#">Företagare</a>
			</div>
			<div>
				<a class="apartment" href="#">Lägenheter</a>
			</div>
		</div>
	</div>
</div>

<div class="intro-bottom">
	<h2>Så här fungerar guiden</h2>
	<p>Att dra in fiber till ditt hushåll innehåller ett flertal etapper. I guiden kan du följa hela processen uppdelat i tre huvudmoment.</p>
	<div class="buttons">
		<div>
			<a href="#intresse" class="scrollTo"><span>1.</span> Intresse</a>
		</div>
		<div>
			<a href="#order" class="scrollTo"><span>2.</span> Beställning</a>
		</div>
		<div>
			<a href="#expand" class="scrollTo"><span>3.</span> Utbyggnad</a>
		</div>
	</div>
</div>