<div class="order">
	<h2>{{ title }}</h2>
	{% for row in rows %}
		<p>
			{% if row.bold is defined and row.bold == 1%}<strong>{% endif %}
				{{ row.text }}
			{% if row.bold is defined and row.bold == 1%}</strong>{% endif %}
		</p>
	{% endfor %}
</div>